body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Welcome page style */

.header-welcome {
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 80px;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 30%;
}
.button-welcome {
  background-color: #b3daff;
  border-radius: 10px;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #003566;
  margin: 32px 0;
}

.container{
  text-align: center;
  width: 300px;
  margin: auto;
  height: 300px;
}

/* List Projects page style */

.header-listProjects {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.button-ListProjects{
  border: 0;
  padding: 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #668cff;
  color: #fff;
  font-weight: bold;
}

.bt-container {
  text-align: center
}

/* Create User Story page style */

.form-create-userStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 700px;
}

.header-create-userStory {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.form-create-userStory form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-create-userStory form > * {
  margin-bottom: 20px;
  width: 100%;
}
.form-create-userStory .button-form-createUserStory-save {
  background-color: #668cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-userStory .button-form-createUserStory-save:hover {
  background-color: #148f77;
}

.form-create-userStory .button-form-createUserStory-cancel {
  background-color: #737373;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-userStory .button-form-createUserStory-cancel:hover {
  background-color: #7f8c8d;
}

.form-create-userStory label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-create-userStory input,
.form-create-userStory textArea,
.form-create-userStory select {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-create-userStory input:required:invalid:focus,
.form-create-userStory textArea:required:invalid:focus,
.form-create-userStory select:required:invalid:focus {
  border: 2px solid #e74c3c;
}

.form-create-userStory input:required:valid,
.form-create-userStory textArea:required:valid,
.form-create-userStory select:required:valid {
  border: 2px solid #2ecc71;
}

.form-create-userStory .mandatory {
  color: #e74c3c;
}

.textField {
  display: block;
  margin-bottom: 20px;
}

.textField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textField input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textField input:focus {
  outline: none;
  border-color: #4b9cdb;
}

.textArea {
  margin-bottom: 20px;
  overflow: auto;
  resize: none;
}

.textArea label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textArea textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.textArea textArea:focus {
  outline: none;
  border-color: #4b9cdb;
}

.table-sprint{
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.table-sprint th,
.table-sprint td {
  padding: 15px;
  text-align: left;
  border-bottom: 3px solid #ABB2B9;
}
.table-sprint th:first-child,
.table-sprint td:first-child {
  font-weight: bold;
  width: 20px;
}
.table-sprint th:not(:first-child),
.table-sprint td:not(:first-child) {
  width: 100px;
}
.sprint-button-view {
  width: 60%;
  display: table;
  margin: 0 auto;
  background-color: #d9d9d9;
  color: #262626;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.table-sprint tr:hover {background-color: lightblue;}


/* Create Project page style */

.header-create-project {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.form-create-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 700px;
}

.form-create-project form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-create-project form > * {
  margin-bottom: 20px;
  width: 100%;
}

.form-create-project .button-form-createProject-save {
  background-color: #668cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-project .button-form-createProject-save:hover {
  background-color: #148f77;
}

.form-create-project .button-form-createProject-cancel {
  background-color: #737373;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-project .button-form-createProject-cancel:hover {
  background-color: #7f8c8d;
}

.form-create-project label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-create-project input,
.form-create-project select {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-create-project input:required:invalid:focus,
.form-create-project select:required:invalid:focus {
  border: 2px solid #e74c3c;
}

.form-create-project input:required:valid,
.form-create-project select:required:valid {
  border: 2px solid #2ecc71;
}

.form-create-project .mandatory {
  color: #e74c3c;
}

.textField {
  display: block;
  margin-bottom: 20px;
}

.textField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textField input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textField input:focus {
  outline: none;
  border-color: #4b9cdb;
}


/* Create Sprint page style */

.header-create-sprint {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.form-create-sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 700px;
}

.form-create-sprint form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-create-sprint form > * {
  margin-bottom: 20px;
  width: 100%;
}

.form-create-sprint .button-form-createSprint-save {
  background-color: #668cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-sprint .button-form-createSprint-save:hover {
  background-color: #148f77;
}

.form-create-sprint .button-form-createSprint-cancel {
  background-color: #737373;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-create-sprint .button-form-createSprint-cancel:hover {
  background-color: #7f8c8d;
}

.form-create-sprint label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-create-sprint input,
.form-create-sprint select {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-create-sprint input:required:invalid:focus,
.form-create-sprint select:required:invalid:focus {
  border: 2px solid #e74c3c;
}

.form-create-sprint input:required:valid,
.form-create-sprint select:required:valid {
  border: 2px solid #2ecc71;
}

.form-create-sprint .mandatory {
  color: #e74c3c;
}

.textField {
  display: block;
  margin-bottom: 20px;
}

.textField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textField input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #829697;
  background: #f1f3f3;
}

.textField input:focus {
  outline: none;
  border-color: #4b9cdb;
}

/* date format */
.date {
  margin-bottom: 10px;
}

.date label {
  font-weight: bold;
}

.date input {
  border: 2px solid #ccc;
}

/* DropDownList format */

.dropDownList label {
  font-weight: bold;
}

.string-format {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
  text-align: center;
}

.project-info {
  padding: 15px;
  background: lightsteelblue;
  color: black;
  margin: 5px;
  margin-left: 10px;
  margin-right: 5%;
}

.table-header {
  background: #d9d9d9;
}